<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">        
    <meta name="viewport" content="width=device-width">
    <link href="content.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    
    <div id = "content">
      <div class = "content-products">
        <p>Các sản phẩm</p> 
      </div>

      <img class = "decor__1" src="./img/rosemary.svg" alt=""> 
      
      <div class="products-list">
        <div class="product-item__2">
          <p class="product-name__2">Cà phê Robusta</p>
          <p class = "about-text__2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet. 
            Turpis egestas ultricies purus auctor tincidunt lacus nunc. Convallis pellentesque quis fringilla sagittis. 
            Egestas in risus sit nunc nunc, arcu donec nam etiam.
          </p>
          <img src="./img/image 2.svg" alt="Cà phê Robusta" class="product-img__2">
        </div>

        <div class="product-item__3">
          <p class="product-name__3">Cà phê Arabica</p>
          <p class = "about-text__3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet.
          </p>
          <img src="./img/image 3.svg" alt="Cà phê Arabica" class="product-img__3">
        </div>

        <div class="product-item__4">
          <p class="product-name__4">Cà phê Liberia</p>
          <p class = "about-text__4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet.
          </p>
          <img src="./img/image 4.svg" alt="Cà phê Liberia" class="product-img__4">
        </div>
      </div>
    </div>
    
    <img class = "decor__2" src="./img/rosemary (1).svg" alt =""> 
  </body>
</html>