*{
    color: #FFFFFF;
    text-shadow: 15px 12px 50px rgba(0, 0, 0, 0.3);
    font-family: 'MuseoModerno';
    font-style: normal;
    font-size:10px;
    letter-spacing: 0.03em;
    box-sizing: border-box;

}
html {
    height: 100%;
   
  }
body{
    min-height: 100%;
    background:url(../../project/coffee-web/my-app/src/assets/bg.svg) ;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center; 
}
#reg-sec{
    
position: absolute;
width:55rem;
height: 65rem;
margin:2rem 50rem ;
background: linear-gradient(120.37deg, rgba(239, 239, 239, 0.6) 0%, rgba(255, 255, 255, 0.1) 90%);
border: 1px solid #EFEFEF;
backdrop-filter: blur(30px);


border-radius: 25px;
padding:0 6rem;
}
.reg-info fieldset input::placeholder{
    color: #FFFFFF;
    opacity: 0.45;
text-shadow: 15px 12px 50px rgba(0, 0, 0, 0.3);

}
.form-title h2{
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 5.1rem;
    width: 498px;
    height: 69px;
    margin-left: 6rem;
    margin-top: 6rem;

}
.ml{
border-bottom: 0.3rem solid #FFFFFF;
  margin-top: -4.5em;
  clear: right;
 
}
.reg-info{
    margin-top:0.5rem;
    margin-left: -2em;
}
.reg-info fieldset{
    border: 0;
}
.reg-info fieldset legend{
    font-size: 2rem;
    margin-top:20px;
}
.reg-info fieldset input{
    background: linear-gradient(120.37deg, rgba(239, 239, 239, 0.048) 0%, rgba(255, 255, 255, 0.008) 100%);
border: 2px solid #EFEFEF;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
border-radius: 25px;
width: 450px;
height:6rem;
font-size: 2rem;
padding:0 2rem;
}
.btn{
    background: linear-gradient(120.37deg, rgba(160, 88, 60, 0.8) 0%, rgba(160, 88, 60, 0.8) 100%);
    border: 2px solid #EFEFEF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 15rem;
    height: 6rem;
    margin-top: 2rem;
    margin-left: 13rem;
    font-size:2.5rem;
    
}
.btn:hover{
    color:yellow;
    border: 2px solid yellow;
}

@media screen and (max-width:1200px){
    #reg-sec{
    
        position: absolute;
        width:60rem;
        height: 70rem;
        margin:8rem 65rem ;
        background: linear-gradient(120.37deg, rgba(239, 239, 239, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
        border: 1px solid #EFEFEF;
        backdrop-filter: blur(30px);
        
        
        border-radius: 25px;
        padding:0 6rem;
        }
        .form-title h2{
            font-weight: 700;
            font-size: 3.4rem;
            line-height: 5.1rem;
            width: 498px;
            height: 69px;
            margin-left: 8.5rem;
            margin-top: 6rem;
        
        }
        .reg-info{
            margin-top:1rem;
            margin-left: 1em;
        }
        .reg-info fieldset legend{
            font-size: 2.5rem;
            margin-top:20px;
        }
        .reg-info fieldset input{
            background: linear-gradient(120.37deg, rgba(239, 239, 239, 0.048) 0%, rgba(255, 255, 255, 0.008) 100%);
        border: 2px solid #EFEFEF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        width: 450px;
        height:6rem;
        font-size: 2rem;
        padding:0 2rem;
        }
        .btn{
            background: linear-gradient(120.37deg, rgba(160, 88, 60, 0.8) 0%, rgba(160, 88, 60, 0.8) 100%);
            border: 2px solid #EFEFEF;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 15rem;
            height: 6rem;
            margin-top: 2rem;
            margin-left: 15rem;
           font-size:1.5rem;
        }
}
@media screen and (max-width:600px){
    #reg-sec{
    
        position: absolute;
        width:30rem;
        height: 60rem;
        margin:2rem 4rem ;
        background: linear-gradient(120.37deg, rgba(239, 239, 239, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
        border: 1px solid #EFEFEF;
        backdrop-filter: blur(30px);
        
        
        border-radius: 25px;
        padding:0 3rem;
    }
    body{
        position:fixed;
        
        
    }
    .form-title h2{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 5.1rem;
    
    margin-left: 1.5rem;
    margin-top: 2rem;

    }
    .reg-info{
        margin-top:1rem;
        margin-left:0.5rem;
    }
    .reg-info fieldset legend{
        font-size: 1.5rem;
        margin-top:2.5rem;
    }
    .reg-info fieldset input{
    background: linear-gradient(120.37deg, rgba(239, 239, 239, 0.048) 0%, rgba(255, 255, 255, 0.008) 100%);
    border: 2px solid #EFEFEF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 27rem;
    height:6rem;
    font-size: 1rem;
    padding:0 2rem;
    margin-left:-3rem
    }
    .btn{
        background: linear-gradient(120.37deg, rgba(160, 88, 60, 0.8) 0%, rgba(160, 88, 60, 0.8) 100%);
        border: 2px solid #EFEFEF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 15rem;
        height: 6rem;
        margin-top: 3.5rem;
        margin-left: 10rem;
       font-size:1.5rem;
    }
}